<!-- Contact Form Starts -->
<div id="contact-form">
  <!-- Contact Form Heading Starts -->
  <h5>Contact Form</h5>
  <!-- Contact Form Heading Ends -->
  <div class="row no-gutters">
    <!-- Note Starts -->
    <div class="note col-lg-9 col-md-9 col-12">
      <!-- Single Paragraph Starts -->
      <p>Want to chat? Send me a message!</p>
      <!-- Single Paragraph Ends -->
    </div>
    <!-- Note Ends -->
    <!-- Alert/Contact Message Starts -->
    <div class="alert contact-msg col-lg-9 col-md-9 col-12"></div>
    <!-- Alert/Contact Message Ends -->
    <!-- Form Wrapper Starts -->
    <div class="form-wrapper col-lg-9 col-md-9 col-12">
      <form name="contact" method="POST" action="php/process-form.php">
        <div class="form-group clearfix">
          <div class="inner-form-group">
            <input
              type="text"
              name="name"
              placeholder="Name"
              class="form-control"
              autocomplete="off"
              required
            />
          </div>
          <div class="inner-form-group">
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="form-control"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="form-group">
          <input
            type="text"
            name="subject"
            placeholder="Subject"
            class="form-control"
            autocomplete="off"
            required
          />
        </div>
        <div class="form-group">
          <textarea
            name="message"
            placeholder="Message"
            class="form-control"
            autocomplete="off"
            required
          ></textarea>
        </div>
        <div class="form-group">
          <button type="submit">
            <span class="front">
              <i class="fas fa-paper-plane"></i>
              <span class="value">Send <span>Message</span></span>
            </span>
            <span class="back">
              <i class="fas fa-paper-plane"></i>
              <span class="value">Send <span>Message</span></span>
            </span>
          </button>
        </div>
      </form>
    </div>
    <!-- Form Wrapper Ends -->
  </div>
</div>
<!-- Contact Form Ends -->
