<!-- Main Content (Contact) Starts -->
<div id="contact" class="main-content active">
  <!-- Close Button Starts -->
  <a href="#home" class="close-menu-link">
    <i class="close-button fas fa-times-circle fa-2x"></i>
  </a>
  <!-- Close Button Ends -->
  <!-- Content Hanging On Contact Section Starts -->
  <div class="hanging">
    <div class="logo-hanging">
      <i class="fas fa-envelope"></i>
    </div>
    <div class="text-hanging">
      <div class="word">
        <h6>CONTACT <span>ME</span></h6>
      </div>
    </div>
  </div>
  <!-- Content Hanging On Contact Section Ends -->
  <!-- Inner Content Starts -->
  <div class="inner-content">
    <!-- Head Content Starts -->
    <div class="head-content">
      <h3>Contact <span>Me</span></h3>
    </div>
    <!-- Head Content Ends -->
    <!-- Content Starts -->
    <div class="content">
      <app-contactinfo></app-contactinfo>
      <!-- <app-contactform></app-contactform> -->
    </div>
    <!-- Content Ends -->
  </div>
  <!-- Inner Content Ends -->
</div>
<!-- Main Content (Contact) Ends -->
