<!-- Projects Starts -->
      <div id="projects">
        <!-- Projects Heading Starts -->
        <h5>Projects</h5>
        <!-- Projects Heading Ends -->
        <div class="row no-gutters">
          <!-- Portfolio Filter Starts -->
          <div class="portfolio-filter col-12">
            <ul>
              <!-- Single Filter Starts -->
              <li>
                <a href="#" data-filter="*" class="current">All Elements</a>
              </li>
              <!-- Single Filter Ends -->
              <!-- Single Filter Starts -->
              <li>
                <a href="#" data-filter=".web-templates">Web Templates</a>
              </li>
              <!-- Single Filter Ends -->
              <!-- Single Filter Starts -->
              <li>
                <a href="#" data-filter=".logos">Logos</a>
              </li>
              <!-- Single Filter Ends -->
              <!-- Single Filter Starts -->
              <li>
                <a href="#" data-filter=".drawings">Drawings</a>
              </li>
              <!-- Single Filter Ends -->
              <!-- Single Filter Starts -->
              <li>
                <a href="#" data-filter=".ui-elements">UI Elements</a>
              </li>
              <!-- Single Filter Ends -->
            </ul>
          </div>
          <!-- Portfolio Filter Ends -->
          <!-- Portfolio Item Starts -->
          <div class="portfolio-item col-12">
            <div class="item-wrapper row">
              <!-- Single Item Starts -->
              <div class="item web-templates col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/data-analysis-landing-page.jpg" alt="Data Analysis Landing Page">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" (click)="openScrollableContent(longContent)">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Data Analysis Landing Page</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Web Templates</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item logos drawings col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/hand-drawn-space-badge-collection.jpg" alt="Hand Drawn Space Badge Collection">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#hand-drawn-space-badge-collection">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Hand Drawn Space Badge</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Logos, Drawings</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item web-templates col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/modern-teamwork-landing-page.jpg" alt="Modern Teamwork Landing Page">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#modern-teamwork-landing-page">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Modern Teamwork Landing Page</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Web Templates</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item drawings col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/pack-of-polygonal-animal-tattoos.jpg" alt="Pack Of Polygonal Animal Tattoos">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#pack-of-polygonal-animal-tattoos">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Pack Of Polygonal Animal Tattoos</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Drawings</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item drawings col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/hand-drawn-patterned-circle.jpg" alt="Hand Drawn Patterned Circle">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#hand-drawn-patterned-circle">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Hand Drawn Patterned Circle</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Drawings</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item ui-elements col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/colorful-web-design-button-collection.jpg"
                    alt="Colorful Web Design Button Collection">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#colorful-web-design-button-collection">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Colorful Web Design Button Collection</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">UI Elements</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item ui-elements col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/mobile-application-templates.jpg" alt="Mobile Application Templates">
                </div>
                <!-- Image Ends -->
                <!-- overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#mobile-application-templates">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Mobile Application Templates</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">UI Elements</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item web-templates col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/online-shopping-landing-page.jpg" alt="Online Shopping Landing Page">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#online-shopping-landing-page">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Online Shopping Landing Page</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Web Templates</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item web-templates col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/web-design-agency-landing-page.jpg" alt="Web Design Agency Landing Page">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#web-design-agency-landing-page">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Web Design Agency Landing Page</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Web Templates</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item web-templates col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/online-education-landing-page.jpg" alt="Online Education Landing Page">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#online-education-landing-page">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Online Education Landing Page</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Web Templates</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item logos col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/running-shoe-logos.jpg" alt="Running Shoe Logos">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#running-shoe-logos">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Running Shoe Logos</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Logos</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
                
              </div>
              <!-- Single Item Ends -->
              <!-- Single Item Starts -->
              <div class="item logos col-md-4 col-sm-6 col-12">
                <!-- Image Starts -->
                <div class="image">
                  <img src="assets/img/projects/restaurant-logo-collection.jpg" alt="Restaurant Logo Collection">
                </div>
                <!-- Image Ends -->
                <!-- Overlay Starts -->
                <div class="overlay">
                  <!-- View More (Button) Starts -->
                  <a class="view-more" href="#restaurant-logo-collection">
                    <span class="front">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                    <span class="back">
                      <i class="far fa-eye"></i><span class="value">View <span>More</span></span>
                    </span>
                  </a>
                  <!-- View More (Button) Ends -->
                  <!-- Image Info Starts -->
                  <div class="image-info">
                    <!-- Project Name Starts -->
                    <span class="project-name">Restaurant Logo Collection</span>
                    <!-- Project Name Ends -->
                    <!-- Project Tags Starts -->
                    <span class="project-tags">
                      <!-- Tag Icon Starts -->
                      <span class="tag-icon">
                        <i class="fas fa-tags"></i>
                      </span>
                      <!-- Tag Icon Ends -->
                      <!-- Tag Label Starts -->
                      <span class="tag-label">Logos</span>
                      <!-- Tag Label Ends -->
                    </span>
                    <!-- Project Tags Ends -->
                  </div>
                  <!-- Image Info Ends -->
                </div>
                <!-- Overlay Ends -->
              </div>
              <!-- Single Item Ends -->
            </div>
          </div>
          <!-- Portfolio Item Ends -->
        </div>
      </div>
      <!-- Projects Ends -->


      <ng-template #longContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Project Popup Starts -->
          <div id="restaurant-logo-collection" class="project-popup mfp-hide">
            <!-- Project Picture On Popup Starts -->
            <img class="project-picture" src="assets/img/projects/restaurant-logo-collection.jpg"
              alt="Restaurant Logo Collection">
            <!-- Project Picture On Popup Ends -->
            <!-- Project Name Starts -->
            <h5 class="project-name">Restaurant Logo Collection</h5>
            <!-- Project Name Ends -->
            <!-- Project Info Starts -->
            <div class="project-info">
              <!-- List Info Project Starts -->
              <ul class="list-info-project">
                <!-- Single List Starts -->
                <li>
                  <span class="label">Client</span>
                  <span class="separator">:</span>
                  <span class="value">Envato</span>
                </li>
                <!-- Single List Ends -->
                <!-- Single List Starts -->
                <li>
                  <span class="label">Date</span>
                  <span class="separator">:</span>
                  <span class="value">14 March 2018</span>
                </li>
                <!-- Single List Ends -->
                <!-- Single List Starts -->
                <li>
                  <span class="label">Categories</span>
                  <span class="separator">:</span>
                  <span class="value">Logos</span>
                </li>
                <!-- Single List Ends -->
              </ul>
              <!-- List Info Project Ends -->
              <!-- Project Description Starts -->
              <div class="project-description">
                <!-- Single Paragraph Starts -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium esse Rem quidem,
                  incidunt ad numquam quibusdam hic. Iste, sunt, corporis. Nisi itaque eligendi illum
                  quod, ipsam dolor commodi blanditiis iste. Consequuntur doloribus accusantium sed
                  tempora voluptatum, quisquam sit modi qui maxime reiciendis, harum, earum. Eum, ex quam
                  excepturi.</p>
                <!-- Single Paragraph Ends -->
                <!-- Single Paragraph Starts -->
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus expedita explicabo
                  sed voluptatum minus quos dolorum officia odio reiciendis nesciunt. Cupiditate, aperiam,
                  architecto exercitationem repudiandae quas quisquam incidunt et quasi.</p>
                <!-- Single Paragraph -->
              </div>
              <!-- Project Description Ends -->
            </div>
            <!-- Project Info Ends -->
            <!-- Project source Button Starts -->
            <a class="project-source" href="#">
              <span class="front">
                <i class="fas fa-long-arrow-alt-right"></i>
                <span class="value">Visit <span>Project</span></span>
              </span>
              <span class="back">
                <i class="fas fa-long-arrow-alt-right"></i>
                <span class="value">Visit <span>Project</span></span>
              </span>
            </a>
            <!-- Project Source Button Ends -->
          </div>
          <!-- Project Popup Ends -->
        </div>
      </ng-template>