<!-- Main Content (About) Starts -->
<div id="about" class="main-content active">
  <!-- Close Button Starts -->
  <a [routerLink]="['/home']" class="close-menu-link">
    <i class="close-button fas fa-times-circle fa-2x"></i>
  </a>
  <!-- Close Button Ends -->
  <!-- Content Hanging On About Section Starts -->
  <div class="hanging">
    <div class="logo-hanging">
      <i class="fas fa-id-card"></i>
    </div>
    <div class="text-hanging">
      <div class="word">
        <h6>ABOUT <span>ME</span></h6>
      </div>
    </div>
  </div>
  <!-- Content Hanging On About Section Ends -->
  <!-- Inner Content Starts -->
  <div class="inner-content">
    <!-- Head Content Starts -->
    <div class="head-content">
      <h3>About <span>Me</span></h3>
    </div>
    <!-- Head Content Ends -->
    <!-- Content Starts -->
    <div class="content">
      <app-personalinfo></app-personalinfo>
      <app-services></app-services>
    </div>
    <!-- Content Ends -->
  </div>
  <!-- Inner Content Ends -->
</div>
<!-- Main Content (About) Ends -->
