<!-- Fun Facts Starts -->
<div class="fun-facts">
  <!-- Fun Facts Heading Starts -->
  <h5>Fun Facts</h5>
  <!-- Fun Facts Heading Ends -->
  <div class="row no-gutters">
    <!-- Single Fun Fact Starts -->
    <div class="single-fun-fact col-12 col-sm-4">
      <ul>
        <li class="fun-fact-icon">
          <i class="fas fa-business-time fa-3x"></i>
        </li>
        <li class="fun-fact-value">5+</li>
        <li class="fun-fact-body">
          <i class="fas fa-angle-double-right"></i><span>Years Experience</span>
        </li>
      </ul>
    </div>
    <!-- Single Fun Fact Ends -->
    <!-- Single Fun Fact Starts -->
    <div class="single-fun-fact col-12 col-sm-4">
      <ul>
        <li class="fun-fact-icon">
          <i class="fas fa-handshake fa-3x"></i>
        </li>
        <li class="fun-fact-value">30+</li>
        <li class="fun-fact-body">
          <i class="fas fa-angle-double-right"></i><span>Done Projects</span>
        </li>
      </ul>
    </div>
    <!-- Single Fun Fact Ends -->
    <!-- Single Fun Fact Starts -->
    <div class="single-fun-fact col-12 col-sm-4">
      <ul>
        <li class="fun-fact-icon">
          <i class="fas fa-heart fa-3x"></i>
        </li>
        <li class="fun-fact-value">10+</li>
        <li class="fun-fact-body">
          <i class="fas fa-angle-double-right"></i><span>Happy Clients</span>
        </li>
      </ul>
    </div>
    <!-- Single Fun Fact Ends -->
  </div>
</div>
<!-- Fun Facts Ends -->
