<!-- Main Content (Resume) Starts -->
<div id="resume" class="main-content active">
  <!-- Close Button Starts -->
  <a [routerLink]="['/home']" class="close-menu-link">
    <i class="fas fa-times-circle fa-2x"></i>
  </a>
  <!-- Close Button Ends -->
  <!-- Content Hanging On Resume Section Starts -->
  <div class="hanging">
    <div class="logo-hanging">
      <i class="fas fa-newspaper"></i>
    </div>
    <div class="text-hanging">
      <div class="word">
        <h6>MY <span>RESUME</span></h6>
      </div>
    </div>
  </div>
  <!-- Content Hanging On Resume Section Ends -->
  <!-- Inner Content Starts -->
  <div class="inner-content">
    <!-- Head Content Starts -->
    <div class="head-content">
      <h3>My <span>Resume</span></h3>
    </div>
    <!-- Head Content Ends -->
    <!-- Content Starts -->
    <div class="content">
      <app-skills></app-skills>
      <app-education></app-education>
      <app-experience></app-experience>
      <app-funfacts></app-funfacts>
      <!-- Button Wrapper Starts -->
      <div class="button-wrapper">
        <!-- Single Button Starts -->
        <a href="#">
          <span class="front">
            <i class="fas fa-file-pdf"></i
            ><span class="value">Download <span>Resume</span></span>
          </span>
          <span class="back">
            <i class="fas fa-file-pdf"></i
            ><span class="value">Download <span>Resume</span></span>
          </span>
        </a>
        <!-- Single Button Ends -->
      </div>
      <!-- Button Wrapper Ends -->
    </div>
    <!-- Content Ends -->
  </div>
  <!-- Inner Content Ends -->
</div>
<!-- Main Content (Resume) Ends -->
