<!-- Education Starts -->
<div class="education">
  <!-- Education Heading Starts -->
  <h5>Education</h5>
  <!-- Education Heading Ends -->
  <div class="row no-gutters">
    <!-- Single Education Starts -->
    <div class="single-education col-sm-6 col-12">
      <ul>
        <li class="education-when-where">
          <span class="when">2017 - 2018</span>
          <span class="where">China</span>
        </li>
        <li>
          <ul>
            <li class="education-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Web Programming Course</span>
            </li>
            <li class="education-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
              provident perferendis in nesciunt.
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Education Ends -->
    <!-- Single Education Starts -->
    <div class="single-education col-sm-6 col-12">
      <ul>
        <li class="education-when-where">
          <span class="when">2013 - 2017</span>
          <span class="where">New York</span>
        </li>
        <li>
          <ul>
            <li class="education-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Masters Degree</span>
            </li>
            <li class="education-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa
              nostrum. Alias provident adipisicing elit.
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Education Ends -->
    <!-- Single Education Starts -->
    <div class="single-education col-sm-6 col-12">
      <ul>
        <li class="education-when-where">
          <span class="when">2009 - 2013</span>
          <span class="where">Finland</span>
        </li>
        <li>
          <ul>
            <li class="education-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Bachelor Degree</span>
            </li>
            <li class="education-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit dio hic
              deser.
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Education Ends -->
    <!-- Single Education Starts -->
    <div class="single-education col-sm-6 col-12">
      <ul>
        <li class="education-when-where">
          <span class="when">2006 - 2009</span>
          <span class="where">New York</span>
        </li>
        <li>
          <ul>
            <li class="education-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Engineering Diploma</span>
            </li>
            <li class="education-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Inventore exercitationem.
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Education Ends -->
  </div>
</div>
<!-- Education Ends -->
