<!-- Education Starts -->
<div class="education">
  <!-- Education Heading Starts -->
  <h5>Education</h5>
  <!-- Education Heading Ends -->
  <div class="row no-gutters">
    <!-- Single Education Starts -->
    <div class="single-education col-sm-6 col-12">
      <ul>
        <li class="education-when-where">
          <span class="when">2013 - 2015 </span>
          <span class="where">USA</span>
        </li>
        <li>
          <ul>
            <li class="education-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Master of Computer Science</span><br />
              (Masters)
            </li>
            <li class="education-body">
              <a
                href="https://www.utc.edu/"
                target="_blank"
                style="color:#a8a8a8"
              >
                University of Tennessee at Chattanooga
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Education Ends -->
    <!-- Single Education Starts -->
    <div class="single-education col-sm-6 col-12">
      <ul>
        <li class="education-when-where">
          <span class="when">2009 - 2013 </span>
          <span class="where">India</span>
        </li>
        <li>
          <ul>
            <li class="education-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Bachelor's Computer Science</span><br />
              (Engineering)
            </li>
            <li class="education-body">
              <a href="http://srkit.in/" target="_blank" style="color:#a8a8a8">
                SRKIT
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Education Ends -->
    <!-- Single Education Starts -->
    <div class="single-education col-sm-6 col-12">
      <ul>
        <li class="education-when-where">
          <span class="when">2007 - 2009 </span>
          <span class="where">India</span>
        </li>
        <li>
          <ul>
            <li class="education-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Secondary Education</span><br />(Intermediate)
            </li>
            <li class="education-body">
              <a
                href="https://srichaitanya.net/"
                target="_blank"
                style="color:#a8a8a8"
              >
                Sri Chaitanya College
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Education Ends -->
    <!-- Single Education Starts -->
    <div class="single-education col-sm-6 col-12">
      <ul>
        <li class="education-when-where">
          <span class="when">2007 </span>
          <span class="where">India</span>
        </li>
        <li>
          <ul>
            <li class="education-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Primary Education</span><br />(School: LKG - 10TH)
            </li>
            <li class="education-body">
              <a
                href="http://www.stjohnsgvm.org/"
                target="_blank"
                style="color:#a8a8a8"
                >St. John's High School</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Education Ends -->
  </div>
</div>
<!-- Education Ends -->
