<!-- Services Starts -->
<div id="services">
  <!-- Services Heading Starts -->
  <h5>Services</h5>
  <!-- Services Heading Ends -->
  <div class="row no-gutters">
    <!-- Single Service Starts -->
    <div class="single-service col-sm-6 col-12">
      <ul>
        <li class="service-number">
          <span class="first-word">Service </span>
          <span class="second-word">01</span>
        </li>
        <li>
          <ul>
            <li class="service-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Web Development</span>
            </li>
            <li class="service-body">
              <p class="mb-0">Html</p>
              <p class="mb-0">Css/Sass</p>
              <p class="mb-0">Bootstrap</p>
              <p class="mb-0">Javascript / jQuery / Typescript</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Service Ends -->
    <!-- Single Service Starts -->
    <div class="single-service col-sm-6 col-12">
      <ul>
        <li class="service-number">
          <span class="first-word">Service </span>
          <span class="second-word">02</span>
        </li>
        <li>
          <ul>
            <li class="service-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Frontend Development</span>
            </li>
            <li class="service-body">
              <p class="mb-0">Angular</p>
              <p class="mb-0">React js</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Service Ends -->
    <!-- Single Service Starts -->
    <div class="single-service col-sm-6 col-12">
      <ul>
        <li class="service-number">
          <span class="first-word">Service </span>
          <span class="second-word">03</span>
        </li>
        <li>
          <ul>
            <li class="service-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Mobile Development</span>
            </li>
            <li class="service-body">
              <p class="mb-0">Apache Cordova</p>
              <p class="mb-0">Ionic</p>
              <p class="mb-0">React Native</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Service Ends -->
    <!-- Single Service Starts -->
    <div class="single-service col-sm-6 col-12">
      <ul>
        <li class="service-number">
          <span class="first-word">Service </span>
          <span class="second-word">04</span>
        </li>
        <li>
          <ul>
            <li class="service-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Backend Development</span>
            </li>
            <li class="service-body">
              <p class="mb-0">Nodejs</p>
              <p class="mb-0">Nodejs with Nestjs</p>
              <p class="mb-0">ASP .Net c#</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Service Ends -->
    <!-- Single Service Starts -->
    <div class="single-service col-sm-6 col-12">
      <ul>
        <li class="service-number">
          <span class="first-word">Service </span>
          <span class="second-word">05</span>
        </li>
        <li>
          <ul>
            <li class="service-name">
              <i class="fas fa-angle-double-right"></i><span>Database</span>
            </li>
            <li class="service-body">
              <p class="mb-0">Mongo</p>
              <p class="mb-0">Sql</p>
              <p class="mb-0">Postgres</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Service Ends -->
    <!-- Single Service Starts -->
    <div class="single-service col-sm-6 col-12">
      <ul>
        <li class="service-number">
          <span class="first-word">Service </span>
          <span class="second-word">06</span>
        </li>
        <li>
          <ul>
            <li class="service-name">
              <i class="fas fa-angle-double-right"></i><span>DevOps</span>
            </li>
            <li class="service-body">
              <p class="mb-0">Jenkins</p>
              <p class="mb-0">Docker</p>
              <p class="mb-0">Kubernetes</p>
              <p class="mb-0">Git</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Service Ends -->
    <!-- Single Service Starts -->
    <div class="single-service col-sm-6 col-12">
      <ul>
        <li class="service-number">
          <span class="first-word">Service </span>
          <span class="second-word">07</span>
        </li>
        <li>
          <ul>
            <li class="service-name">
              <i class="fas fa-angle-double-right"></i><span>Cloud</span>
            </li>
            <li class="service-body">
              <p class="mb-0">AWS</p>
              <p class="mb-0">GCP</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Service Ends -->
    <!-- Single Service Starts -->
    <div class="single-service col-sm-6 col-12">
      <ul>
        <li class="service-number">
          <span class="first-word">Service </span>
          <span class="second-word">08</span>
        </li>
        <li>
          <ul>
            <li class="service-name">
              <i class="fas fa-angle-double-right"></i><span>Other Tools</span>
            </li>
            <li class="service-body">
              <p class="mb-0">Swagger</p>
              <p class="mb-0">PostMan</p>
              <p class="mb-0">Visual Studio Code</p>
              <p class="mb-0">Jiira</p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Service Ends -->
  </div>
</div>
<!-- Services Ends -->
