<!-- Skills Starts -->
<div class="skills">
  <!-- Skills Heading Starts -->
  <h5>Skills</h5>
  <!-- Skills Heading Ends -->
  <div class="row no-gutters">
    <!-- Single Skills Wrapper Starts -->
    <div class="single-skills-wrapper col-12 col-sm-6">
      <ul>
        <!-- Skills Heading Starts -->
        <li class="skills-heading">
          <span class="first-word">Soft </span>
          <span class="second-word">Skills</span>
        </li>
        <!-- Skills Heading Ends -->
        <li>
          <ul>
            <!-- Single Skill Starts -->
            <li class="single-skill">
              <ul>
                <li class="skill-name">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Leadership</span>
                </li>
                <!-- Range Of Percentage 0% - 100% -->
                <li class="percentage">70%</li>
                <!-- <li class="progress-wrapper"> -->
                <!-- <span class="progress"></span> -->
                <!-- </li> -->

                <li>
                  <ngb-progressbar
                    [value]="70"
                    [striped]="true"
                    [animated]="true"
                    [height]="'40px'"
                  ></ngb-progressbar>
                </li>
              </ul>
            </li>
            <!-- Single Skill Ends -->
            <!-- Single Skill Starts -->
            <li class="single-skill">
              <ul>
                <li class="skill-name">
                  <i class="fas fa-angle-double-right"></i><span>Teamwork</span>
                </li>
                <!-- Range Of Percentage 0% - 100% -->
                <li class="percentage">85%</li>
                <li>
                  <ngb-progressbar
                    [value]="85"
                    [striped]="true"
                    [animated]="true"
                    [height]="'40px'"
                  ></ngb-progressbar>
                </li>
              </ul>
            </li>
            <!-- Single Skill Ends -->
            <!-- Single Skill Starts -->
            <li class="single-skill">
              <ul>
                <li class="skill-name">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Communication</span>
                </li>
                <!-- Range Of Percentage 0% - 100% -->
                <li class="percentage">75%</li>
                <li>
                  <ngb-progressbar
                    [value]="75"
                    [striped]="true"
                    [animated]="true"
                    [height]="'40px'"
                  ></ngb-progressbar>
                </li>
              </ul>
            </li>
            <!-- Single Skill Ends -->
            <!-- Single Skill Starts -->
            <li class="single-skill">
              <ul>
                <li class="skill-name">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Problem Solving</span>
                </li>
                <!-- Range Of Percentage 0% - 100% -->
                <li class="percentage">90%</li>
                <li>
                  <ngb-progressbar
                    [value]="90"
                    [striped]="true"
                    [animated]="true"
                    [height]="'40px'"
                  ></ngb-progressbar>
                </li>
              </ul>
            </li>
            <!-- Single Skill Ends -->
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Skills Wrapper Ends -->
    <!-- Single Skills Wrapper Starts -->
    <div class="single-skills-wrapper col-12 col-sm-6">
      <ul>
        <!-- Skills Heading Starts -->
        <li class="skills-heading">
          <span class="first-word">Hard </span>
          <span class="second-word">Skills</span>
        </li>
        <!-- Skills Heading Ends -->
        <li>
          <ul>
            <!-- Single Skill Starts -->
            <li class="single-skill">
              <ul>
                <li class="skill-name">
                  <i class="fas fa-angle-double-right"></i
                  ><span>HTML5 / SASS / CSS / Bootstrap</span>
                </li>
                <!-- Range Of Percentage 0% - 100% -->
                <li class="percentage">85%</li>
                <li>
                  <ngb-progressbar
                    [value]="85"
                    [striped]="true"
                    [animated]="true"
                    [height]="'40px'"
                  ></ngb-progressbar>
                </li>
              </ul>
            </li>
            <!-- Single Skill Ends -->
            <!-- Single Skill Starts -->
            <li class="single-skill">
              <ul>
                <li class="skill-name">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Javascript / Angular / React.js / Nodejs</span>
                </li>
                <!-- Range Of Percentage 0% - 100% -->
                <li class="percentage">90%</li>
                <li>
                  <ngb-progressbar
                    [value]="90"
                    [striped]="true"
                    [animated]="true"
                    [height]="'40px'"
                  ></ngb-progressbar>
                </li>
              </ul>
            </li>
            <!-- Single Skill Ends -->
            <!-- Single Skill Starts -->
            <li class="single-skill">
              <ul>
                <li class="skill-name">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Mongo / SQL / POSTGRES</span>
                </li>
                <!-- Range Of Percentage 0% - 100% -->
                <li class="percentage">70%</li>
                <li>
                  <ngb-progressbar
                    [value]="70"
                    [striped]="true"
                    [animated]="true"
                    [height]="'40px'"
                  ></ngb-progressbar>
                </li>
              </ul>
            </li>
            <!-- Single Skill Ends -->
            <!-- Single Skill Starts -->
            <li class="single-skill">
              <ul>
                <li class="skill-name">
                  <i class="fas fa-angle-double-right"></i
                  ><span>Jenkins / Docker / Kubernetes / Git</span>
                </li>
                <!-- Range Of Percentage 0% - 100% -->
                <li class="percentage">80%</li>
                <li>
                  <ngb-progressbar
                    [value]="80"
                    [striped]="true"
                    [animated]="true"
                    [height]="'40px'"
                  ></ngb-progressbar>
                </li>
              </ul>
            </li>
            <!-- Single Skill Ends -->
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Skills Wrapper Ends -->
  </div>
</div>
<!-- Skills Ends -->
