/* You can add global styles to this file, and also import other style files */

.cursor-pointer {
  cursor: pointer;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ddd !important;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd !important;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ddd !important;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #ddd !important;
}

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

// input[type='search'] {
//   &::-webkit-search-cancel-button {
//     -webkit-appearance: searchfield-cancel-button;
//   }

//   -webkit-appearance: none;
// }

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.swal2-styled.swal2-confirm {
  background-color: #e07dd1 !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border: 0.25em solid #e07dd1 !important;
}

.swal2-icon.swal2-success [class^='swal2-success-line'] {
  background-color: #e07dd1 !important;
}

.progress {
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
}

.progress-bar {
  background-color: #474f7e;
  border-right: 1px solid white;
}

.dark-backdrop {
  background-color: #0b0b0b;
  opacity: 0.8 !important;
}

.p-0 {
  padding: 0 !important;
}


@media (min-width: 768px) {
  #left-wrapper {
    position: relative;
  }
}