<!-- Experience Starts -->
<div class="experience">
  <!-- Experience Heading Starts -->
  <h5>Experience</h5>
  <!-- Experience Heading Ends -->
  <div class="row no-gutters">
    <!-- Single Experience Starts -->
    <div class="single-experience col-sm-6 col-12">
      <ul>
        <li class="experience-when-where">
          <span class="when">2017 - Present</span>
          <span class="where">Google</span>
        </li>
        <li>
          <ul>
            <li class="experience-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Full-Stack Web Developer</span>
            </li>
            <li class="experience-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias
              provident perferendis.
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Experience Ends -->
    <!-- Single Experience Starts -->
    <div class="single-experience col-sm-6 col-12">
      <ul>
        <li class="experience-when-where">
          <span class="when">2013 - 2017</span>
          <span class="where">IBM</span>
        </li>
        <li>
          <ul>
            <li class="experience-name">
              <i class="fas fa-angle-double-right"></i
              ><span>UI / UX Designer</span>
            </li>
            <li class="experience-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa,
              nostrum ad temporibus.
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Experience Ends -->
    <!-- Single Experience Starts -->
    <div class="single-experience col-sm-6 col-12">
      <ul>
        <li class="experience-when-where">
          <span class="when">2010 - 2013</span>
          <span class="where">Envato</span>
        </li>
        <li>
          <ul>
            <li class="experience-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Front-End Developer</span>
            </li>
            <li class="experience-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit dio hic
              deser.
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Experience Ends -->
    <!-- Single Experience Starts -->
    <div class="single-experience col-sm-6 col-12">
      <ul>
        <li class="experience-when-where">
          <span class="when">2008 - 2010</span>
          <span class="where">Adobe</span>
        </li>
        <li>
          <ul>
            <li class="experience-name">
              <i class="fas fa-angle-double-right"></i
              ><span>Community Manager</span>
            </li>
            <li class="experience-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Inventore exercitationem.
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- Single Experience Ends -->
  </div>
</div>
<!-- Experience Ends -->
